:root {
  --toggle-height: 1.5em;
  --base-font-serif: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  --base-font-sansserif: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --base-font-comment: 'Nothing You Could Do', 'Lucida Sans', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html {
  font-size: 10px;
  font-family: var(--base-font-serif);
}
body {
  background-color: rgb(243, 241, 241);
  margin: 0;
  padding: 0;
}
p {
  padding: 0.1rem;
  margin: 0;
}

/* PAGE HEADER */
header {
  text-align: center;
}
h2 {
  font-family: var(--base-font-sansserif);
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: .1rem;
  padding: 0 0 1rem 0;
}
nav {
  background-color: #cacaca;
  width: 100%;
  height: 2.5rem;
  padding: .4rem;
  margin-bottom: 1rem;
  z-index: 99;
  box-shadow: 0 .5rem .5rem 0 #cccccc50;
}
.sticky {
  position: fixed;
  top: 0;
}
.sticky + #card-box { /* prevents nav bar from jumping on scroll */
  padding-top: calc(2.5rem + 2 * 0.4rem + 1rem); /* nav bar height + padding top/bottom + margin bottom */
}
.button-panel {
  display: flex;
  justify-content: center;
}
.header-btn {
  font-family: var(--base-font-sansserif);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  background-color: #f0f0f0;
  padding: .5rem .8rem;
  margin-right: 0.5rem;
  border: .05rem solid #999999;
  border-radius: .2rem;
}
.button-panel > *:last-child {
  margin-right: 0;
}
.header-btn:hover {
  background-color: #e5e5e5;
}
.header-btn:focus, .header-btn:active {
  outline: rgba(131, 38, 132, 0.65) auto 1px;
}

/* CARDS */
#card-box {
  padding: 0 1rem 5rem 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.card {
  background-color: #CCCCCC;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 0.4em;
  box-shadow: 0 .4em .8em 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card:hover {
  box-shadow: 0 .8em 1.6em 0 rgba(0,0,0,0.2);
}
.card-content {
  width: 15rem;
  height: 20rem;
  background-color: #FFFFFF;
  padding: 0.8em;
  border-radius: 0.2em;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
}
.opened { /* added on card-content level */
  width: 24rem;
  height: 32rem;
  font-size: 1.5rem;
}

/* CARD BUTTONS */
.card-buttons {
  position: relative;
}
.card-btn {
  background-color: #FFFFFF;
  opacity: 0;
  padding: .1em;
  margin: 0;
  border: none;
  border-radius: .2em;
  position: absolute;
}
.card:hover .card-btn {
  opacity: .5;
}
.card-btn:hover {
  background-color: rgb(252, 235, 203);
}
/* imgs source: https://www.iconarchive.com/ */
.card-btn img {
  height: 1.2em; /* why u no grow ?? */
} 
.card-btn.edit {
  top: 0;
  right: 0;
}
.card-btn.delete {
  top: 1.7em;
  right: 0;
}

/* CARD HEAD */
.card-head {
  font-size: 1.6em;
  font-weight: bold;
  padding-bottom: .8em;
}

/* CARD BODY */
.card-body {
  flex-grow: 1;
  overflow: auto;
}
.tag {
  font-size: 0.8em;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #CCCCCC;
  text-transform: uppercase;
  padding: 0.15em;
}
.comment {
  font-family: var(--base-font-comment);
  font-size: 1em;
  padding-top: 0.8em;
}
.quotation {
  position: relative;
  margin-top: 0.3em;
}
.text {
  padding-top: 10px;
  text-align: justify;
  position: sticky;
  z-index: 3;
}
.quote-mark {
  color: rgba(173, 171, 171, .6);
  font-size: 6em;
  overflow: hidden;
  position: absolute;
}
.quote-mark.open {
  top: -0.1em;
  left: -0.03em;
  z-index: 2;
}
.quote-mark.close {
  bottom: -0.2em;
  right: 0;
  z-index: 1;
}

/* CARD FOOT */
.card-foot {
  display: flex;
  justify-content: space-between;
  padding-top: .4em;
}
.card-status {
  flex-grow: 1;
  border-top: .1em solid lightgray;
  padding-top: .4em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  text-transform: uppercase;
  color: lightgray;
}
.toggle-button {
  align-self: flex-end;
  width: 2.64em;
  height: 1.5em;
  padding-left: 0.4em;
}
/* adapted from https://www.w3schools.com/howto/howto_css_switch.asp */
/* the switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}
/* hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* the slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--toggle-height);
  background-color: #2196F3;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: calc(0.76 * var(--toggle-height));
  width: calc(0.76 * var(--toggle-height));
  left: calc(0.118 * var(--toggle-height));
  bottom: calc(0.118 * var(--toggle-height));
  border-radius: 50%;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #CCCCCC;
}
input:focus + .slider {
  box-shadow: 0 0 1px #CCCCCC;
}
input:checked + .slider:before {
  -webkit-transform: translateX(calc(0.76 * var(--toggle-height)));
  -ms-transform: translateX(calc(0.76 * var(--toggle-height)));
  transform: translateX(calc(0.76 * var(--toggle-height)));
}

/* CARD COLORS ACCORDING TO THEIR TYPES 
   https://www.schemecolor.com/predicted-rainbow.php */
.album  { background-color: #734C9F; }
.book   { background-color: #0198CF; }
.movie  { background-color: #5DBA47; }
.play   { background-color: #F8E429; }
.series { background-color: #FBAA4E; }
.checked { opacity: 50%; }

/* NEW CARD FORM */
.form-field {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.required {
  color: crimson;
  position: relative;
  left: -0.25em;
}
label.tag {
  margin-right: .4em;
  white-space: nowrap;
}
input {
  min-width: 1em;
  font: 400 .7em var(--base-font-sansserif);
  border: 1px solid lightgray;
  border-radius: .15em;
  flex: 2 2 100%;
}
textarea {
  font: 400 1em var(--base-font-sansserif);
  font-size: .7em;
  text-align: left;
  height: 6em;
  margin-top: .2em;
  border: 1px solid lightgray;
  border-radius: .15em;
  width: calc(100% - 6px);
}
:-ms-input-placeholder { /* IE 10+ */
  font-style: italic;
  color: #000000;
  opacity: .3;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-style: italic;
  color: #000000;
  opacity: .3;
}
:-moz-placeholder { /* Firefox 18- */
  font-style: italic;
  color: #000000;
  opacity: .3;
}
::-moz-placeholder { /* Firefox 19+ */
  font-style: italic;
  color: #000000;
  opacity: .3;
}

/* PAGE FOOTER */
footer {
  width: 100%;
  background-color: #cacaca;
  color: #5e6985;
  font-family: var(--base-font-sansserif);
  font-size: .8rem;
  text-align: center;
  padding: .3rem 0;
  position: fixed;
  bottom: 0;
  z-index: 99;
  box-shadow: 0 -0.5rem .5rem 0 #cccccc50;
}
svg {
  width: 3rem;
  position: absolute;
  bottom: .5rem;
  right: .5rem;
  opacity: 50%;
}
svg:hover {
  opacity: 100%;
}
path {
  fill: #5e6985;
}
a, a:active, a:visited {
  color: #5e6985;
  text-decoration: none;
}
a:hover {
    color: black;
    text-shadow: 0 0 0.8vh #d0abb5;
}